
@{
    ViewBag.Title = "Unauthorized";
}

<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <br /><br /><br /><br />
            <div class="panel-body">
                <h2>
                    Access Denied !!

                </h2>
            </div>
          
        </div>
    </div>
</div>